.profile {
  * {
    font-family: 'Pretendard', sans-serif;
  }
  max-width: 1280px;
  margin: 20vh auto 0;
  display: flex;
  gap: clamp(30px, 5vw, 60px);

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .role {
      font-family: "Shadows Into Light Two", cursive;
      font-size: clamp(20px, 3.333vw, 40px);
      * {
        font-family: "Shadows Into Light Two", cursive;
      }
    }
    .name {
      margin-top: 32px;
      font-size: clamp(20px, 3.333vw, 40px);
      font-weight: 600;
    }
    .main-desc {
      font-size: clamp(12px, 2vw, 24px);
      font-weight: 700;
    }
    .desc {
      font-size: clamp(12px, 1.5vw, 18px);
      margin-top: 32px;
      line-height: 1.5;
    }
  }
}
