:root {
  --font-base: 'PretendardVariable', sans-serif;
  --font-display: 'Nunito', sans-serif;
  --color-accent: #e8ff57;
  --background: #F5F4EF;

  --ecommerce: #c6eb33;
  --brand: #e16ca3;
  --ai: #c9ea35;
}
